---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #404851;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
//@import "minima";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}
* {
    -webkit-font-smoothing:antialiased;
    font-smoothing:antialiased;
}
html, body {
    border:0;
    font:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0;
    font-size:100%;
    color: $text-color;
}

body {
    line-height:1;
    font-family: $base-font-family;
}

figure {
    margin:0 auto 0.7em;
    width:40em;
}

img {
    width:100%;
    max-width:100%;
}

a {
	text-decoration:none;
    color: #1D78BD;
    &:visited {
        color: #6a4c96;
    }
}

.page-link {
    color: #1D788D;
    &:visited {
        color: #1D788D;
    }
}

ul.no-list-style {
    list-style-type:none;
}

li.navbar-list {
    display:inline-block;
    transition:all 0.4s;
	a {
		color:#a6a8ab;
		&:visited {
			color: #6a4c96;
		}
	}
    &:hover, &:active {
        text-decoration:underline;
    }
}

.header-wrapper-wrapper {
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline;
    margin:0;
    padding:0;
    .header-wrapper {
        width:100%;
        padding:0;
        display:block;
        .site-header {
            margin:0 auto;
            padding:15px 0 14px;
            border-top:none;
            border-bottom:1px solid #e8e8e8;
            display: block;
            width:100%;
            transition:all 0.4s ease-in-out;

			&:after {
				clear: both;
				content: ".";
				display: block;
				height: 0;
				visibility: hidden;
				font-size: 0;
			}
        }
    }
}

hgroup {
    margin:0;
    float: left;
    h1 {
        font-size:1.1em;
		font-weight:600;
        line-height:1.1;
        margin:0;
    }
}

.page-heading {
	font-size:34px;
	font-weight:600;
}

.post-list {
	list-style-type:none;
	li {
		h2 {
			margin:0;
			display:inline-block;
		}
		span {
			font-size:13px;
		}
	}
}

@media (max-width: 74em) {
    hgroup {
        padding-left: 1.1em;
    }

    nav {
        padding-right: 1.1em;
    }
}

@media (min-width: 82.5em) {
    hgroup {
        padding-left: 1.5em;
    }
}

.wrapper {
    max-width: -webkit-calc(800px - (30px * 2));
    max-width: calc(800px - (30px * 2));
    margin-right:auto;
    margin-left:auto;
    padding-right:30px;
    padding-left:30px;
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

nav.site-nav {
    float: right;
    margin:0;
    margin-top:0.21em;
    ul {
        li {
            margin-right:1.7em;
            a {
                font-size: 0.9rem;
            }
        }
    }
}

@media only screen and (max-width: 40em) {
	nav.site-nav {
		margin-top:1em;
		padding-right:0;
		text-align:center;
		float:none;
		width:auto;
		display:block;
	}

    hgroup {
        float:none;
        text-align:center;
        padding-left:0;
        width:auto;
        display:block;
    }
}

ul {
    margin-left: 30px;
    margin-bottom: 15px;
    margin:0;
    padding:0;
}

.main-wrapper {
    line-height:1.65;
    min-height:500px;
    font-size:110%;
    text-align:left;
    width:100%;
    height:100%;
    padding:0;
    margin:0 auto 0;
}

p {
    margin: 0 0 1.5rem 0;
}

figure {
    margin: 0 auto 0.7em;
}

.center, .fig {
    text-align:center;
}

figcaption {
    font-size: 13px;
}

img {
    width: 100%;
    max-width: 1000px;
    height: auto;
    -ms-interpolation-mode:bicubic;
}

section, .post-header, .post-content > h1, .post-list {
    width: 37rem;
    margin: 15px auto;
}

.post-header, .post-content {
	h1 {
		font-size:34px;
		font-weight:600;
	}
}

@media only screen and (max-width: 38.9em) {
    section, .post-header, .post-content > h1 {
        width: 92%;
        margin: 0 auto;
    }
}

@media (max-width: 54em) {
    figure {
        width: 100%;
    }
}

footer {
    border-top:1px solid #e8e8e8;
    text-align:center;
    width:100%;
    margin-top:0;
    font-size:1em;
    padding:1.5em 0 1.1em;

    .wrap {
        width: 48em;
        margin: 0 auto;
        position: relative;
        z-index: 1;
        line-height: 1.65;
    }

    ul {
        width: auto;
        float: none;
        display:inline-block;
        padding:0;

        li.navbar-list {
            width: auto;
            margin-right: 2.5em;
            display:inline-block;
            float:left;
            font-size:0.9rem;
        }
    }
}

@media only screen and (max-width: 40em) {
    footer {
        .wrap {
            width: auto;
            padding-left: 1em;
            padding-right: 1em;
        }
    }
}

@media (max-width: 55em) and (min-width: 30em) {
    footer > ul {
            width: 45%;
    }
}
