@import url(http://fonts.googleapis.com/css?family=Just+Another+Hand|Sacramento);

#gmt {
	font-family:'Just Another Hand',cursive;
	font-size:2.3em;
}
#msk {
	font-family:'Sacramento',cursive;
	font-size:2.3em;
}

h5#emph{
	font-weight:bold;
	border:1px dashed black;
}

#front-page{
	color:black;
}

#imp {
	border:3px dashed red;
}

table {
    margin: 0 auto; /* or margin: 0 auto 0 auto */
    font-size:1.5em;
}

.reg-tab {
	width:100%;
}
tr:hover{
	background:#ddd!important;
}

.reg-tab tr, .reg-tab th{
	text-align:center;
}

#strong-todo{
	text-align:left;
	background:#ffbf00;
	font-size:1.5em;
	padding:10px;
	box-shadow:0 0 3px;
	-webkit-box-shadow:0 0 3px;
	-moz-box-shadow:0 0 3px;
	-o-box-shadow:0 0 3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}

#quote{
	background:#ffbf00;
	padding:10px;
	box-shadow:0 0 3px;
	-webkit-box-shadow:0 0 3px;
	-moz-box-shadow:0 0 3px;
	-o-box-shadow:0 0 3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
#quote2{
	background:#5ede4d;
	padding:10px;
	box-shadow:0 0 3px;
	-webkit-box-shadow:0 0 3px;
	-moz-box-shadow:0 0 3px;
	-o-box-shadow:0 0 3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}
#quote2 blockquote {
	/*border-left:1px solid #000;*/
	border-left:none;
}

#strong{
	background:#ffbf00;
	font-size:1.5em;
	padding:10px;
	box-shadow:0 0 3px;
	-webkit-box-shadow:0 0 3px;
	-moz-box-shadow:0 0 3px;
	-o-box-shadow:0 0 3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}

#homepage-hero {
	/*background:url('http://www.fillmurray.com/1440/650');*/
	height:650px;
	/*box-shadow:0 0 10px;*/
}

.top-bar-section li a:not(.button).active {
	background:#085BAF!important;
}

#home_caption {
	margin-top:-60%;
	position:absolute;
	background:rgba(50, 228, 35, 0.7);
/*	box-shadow:0 0 10px;
	-webkit-box-shadow:0 0 10px;
	-moz-box-shadow:0 0 10px;
	-o-box-shadow:0 0 10px;*/
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}

#other-quotes {
	margin-top:102px;
}
#other-quotes > h4 {
	font-size:1.4375rem;
}

ul.example-orbit.orbit-slides-container{
	height:600px!important;
}

#contact-hero {
	background-size:cover;
	height:600px;
}
#staff-hero {
	background:url('../img/staff.png');
	background-size:cover;
	height:600px;
}
#about-hero {
	background:url('../img/about.png');
	/*background-size:cover;*/
	background-size:cover;
	height:600px;
}
#register-hero{
	background:url('../img/reg.png');
	background-size:cover;
	height:600px;
}

#program-hero{
	background:url('../img/programs.JPG');
	background-size:cover;
	height:600px;
}

#about_content h2{
	/*background:rgb(50, 228, 35);*/
	color:black;
}

#contact-hero h3,#contact-hero h1 {
	color:black;
}

#caption_contact {
	/*position:absolute;*/
	background:#f8f8ff;
	opacity:.7;
	z-index:10000;
	margin-top:100px;
	/*margin-left:15px;*/
/*	box-shadow:0 0 10px;
	-webkit-box-shadow:0 0 10px;
	-moz-box-shadow:0 0 10px;
	-o-box-shadow:0 0 10px;*/
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}

#caption_about{
	background:rgba(50, 228, 35, 0.7);
	margin-top:100px;
/*	box-shadow:0 0 10px;
	-webkit-box-shadow:0 0 10px;
	-moz-box-shadow:0 0 10px;
	-o-box-shadow:0 0 10px;*/
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}

.head {
	border-radius:100%;
	width:100px;
	height:100px;
	/*box-shadow:0 0 5px;*/
	border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	transition:tada;
}
.head:hover {
	animation: tada 1s;
	-webkit-animation: tada 1s;
	-moz-animation:tada 1s;
	-o-animation:tada 1s;
	-ms-animation:tada 1s;
}

@-webkit-keyframes tada {
	0% {-webkit-transform: scale(1);}	
	10%, 20% {-webkit-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-webkit-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-webkit-transform: scale(1.1) rotate(-3deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}

@-moz-keyframes tada {
	0% {-moz-transform: scale(1);}	
	10%, 20% {-moz-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-moz-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-moz-transform: scale(1.1) rotate(-3deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}

@-o-keyframes tada {
	0% {-o-transform: scale(1);}	
	10%, 20% {-o-transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {-o-transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {-o-transform: scale(1.1) rotate(-3deg);}
	100% {-o-transform: scale(1) rotate(0);}
}

@keyframes tada {
	0% {transform: scale(1);}	
	10%, 20% {transform: scale(0.9) rotate(-3deg);}
	30%, 50%, 70%, 90% {transform: scale(1.1) rotate(3deg);}
	40%, 60%, 80% {transform: scale(1.1) rotate(-3deg);}
	100% {transform: scale(1) rotate(0);}
}

.tada {
	-webkit-animation-name: tada;
	-moz-animation-name: tada;
	-o-animation-name: tada;
	animation-name: tada;
}

.zurb-footer-top.bg-fblue{
	text-align:center;
	margin-bottom:30px;
	margin-top:10px;
}
#contact_people {
	text-align:center;
}
#contact_people h4, #contact_people h5, #contact_people h3 {
	/*background:;*/
	color:black!important;
}

.zurb-footer-top.bg-fblue{
	font-weight:200;
}

.logo {
	width:200px;
	z-index:9000;
	position:fixed;
	/*height:50px;*/
}

@media only screen and (max-width: 40.063em) {
	.logo{
		position:relative;
	}
	#home_caption {
		margin-top:0%;
		position:relative;
		background:rgb(50, 228, 35);
	}
	#other-quotes {
		margin-top:0;
	}
	.modal-course {
		width:100%;
		margin:0;
	}
}

#about_content li {
	text-align:left;
	margin:0 5%;
}

.staff {
	background:#ffbf00;
	font-size:1.5em;
	padding:10px;
	box-shadow:0 0 3px;
	-webkit-box-shadow:0 0 3px;
	-moz-box-shadow:0 0 3px;
	-o-box-shadow:0 0 3px;
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}

blockquote {
	color:black;
	/*background*/
	border-left:none;
}

#pgms {
	text-align: left;
}

#minnows {

}

#minicamp {

}

#juniors {

}

#seniors {

}

#cityventures {

}

#minnows td, #minicamp td, #juniors td, #seniors td, #cityventures td {
	cursor:pointer;
}

.modal-container {
	z-index:90000000;
	position:fixed;
	display:none;
	background:rgba(40,40,40,0.5);
	width:100%;
	height:100%;
}
.modal-course {
	position:relative;
	margin:0 auto;
	width:50%;
	height:500px;
	padding:25px;
	background:white;
	-webkit-box-shadow:0 0 20px #444;
	-moz-box-shadow:0 0 20px #444;
	-o-box-shadow:0 0 20px #444;
	box-shadow:0 0 20px #444;
}
.modal-course > h2{
	color:black;
	text-align:center;
	overflow:scroll;
}
